#home_navigation {
    background-color: LightGreen;
    position: fixed;
    overflow: auto;
}

#documentation_navigation {
    background-color: LightGreen;
    position: fixed;
    overflow-y: scroll;
    height: 90%;
}

div.disclaimer {
    background-color: LightGrey;
    color: DarkBlue;
}
